<div class="col-lg-12 orange-menu">
    <div class="leftContent">
        <div class="roles">
          <p class="pull-left">Requests</p>
          <p class="pull-right"><img src="assets/images/reqmail.png" class="reqMail"></p>
        </div>
        <div class="dataList col-md-12">
          <div class="col-md-10 searchField">
            <div class="input-group sInputDiv">
                <input #input class="form-control sInput" type="text" [(ngModel)]="queryString" name="searchroleName"  id="searchroleName" placeholder="Search Role..."/>
                <div class="input-group-addon sIcon">
                  <span class="fa fa-search form-control-feedback"></span>
                </div>
              </div>
          </div>
          <div class="col-md-2 padd0 sarrw">
              <p class="pull-left"><img src="assets/images/reqarr.png" class=""></p>
              <p class="pull-right"><img src="assets/images/reqarr2.png" class=""></p>
          </div>
        </div>
        <div class="reqDetails col-md-12 padd0">
           <!--loop start-->
          <div class="col-md-12 padd0 blue-bg reqBg">
          <div class="col-md-3 new-pad ">
            <img src="assets/images/testUser.png" class="reqMainimg">
            <p class="docName">Dr.John Samuel <span>(Hcp 01)</span></p>
          </div>
          <div class="col-md-6 new-pad "> 
              <p class="reqSpec">Chronic Lymphocytic Leukemia</p>
              <div class="specDoc col-md-10 padd0"> 
                  <div class="inlineDiv">
                    <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                    <input type="checkbox" name="fordCheckBox" checked id="check1" value="Ford">
                    <label for="check1"></label>
                  </div>
                  <div class="inlineDiv">
                    <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                    <input type="checkbox" name="fordCheckBox" id="check2" value="Ford">
                    <label for="check2"></label>
                  </div>
                  <div class="inlineDiv">
                      <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                      <input type="checkbox" name="fordCheckBox" id="check3" value="Ford">
                      <label for="check3"></label>
                    </div>
                   <div class="inlineDiv">
                        <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                        <input type="checkbox" name="fordCheckBox" id="check4" value="Ford">
                        <label for="check4"></label>
                   </div>
              </div>
              <div class=" col-md-2">
                <p class="docCount"> +34</p>
              </div>
          </div>
          <div class="col-md-3 new-pad ">
                <p class="meetId">Meeting ID:58</p>
                <p class="specTime">
                   <span class="spechour" >01:00 </span>
                   <span class="spectim">PM EST</span>
                </p>
                <p class="specDate">15 September 17</p>
                <button md-button class="reqBut">Canceled</button> 
          </div>
        </div>
        <!--loop end-->
        <div class="col-md-12 padd0 green-bg reqBg">
            <div class="col-md-3 new-pad ">
              <img src="assets/images/testUser.png" class="reqMainimg">
              <p class="docName">Dr.John Samuel <span>(Hcp 01)</span></p>
            </div>
            <div class="col-md-6 new-pad "> 
                <p class="reqSpec">Chronic Lymphocytic Leukemia</p>
                <div class="specDoc col-md-10 padd0"> 
                    <div class="inlineDiv">
                      <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                      <input type="checkbox" name="fordCheckBox" id="check11" value="Ford">
                      <label for="check11"></label>
                    </div>
                    <div class="inlineDiv">
                      <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                      <input type="checkbox" name="fordCheckBox" id="check22" value="Ford">
                      <label for="check22"></label>
                    </div>
                    <div class="inlineDiv">
                        <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                        <input type="checkbox" name="fordCheckBox" id="check33" value="Ford">
                        <label for="check33"></label>
                      </div>
                     <div class="inlineDiv">
                          <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                          <input type="checkbox" name="fordCheckBox" id="check44" value="Ford">
                          <label for="check44"></label>
                     </div>
                </div>
                <div class=" col-md-2">
                  <p class="docCount"> +34</p>
                </div>
            </div>
            <div class="col-md-3 new-pad ">
                  <p class="meetId">Meeting ID:58</p>
                  <p class="specTime">
                     <span class="spechour" >01:00 </span>
                     <span class="spectim">PM EST</span>
                  </p>
                  <p class="specDate">15 September 17</p>
                  <button md-button class="reqBut">Canceled</button> 
            </div>
          </div>
          <div class="col-md-12 padd0 Darkgreen-bg reqBg">
              <div class="col-md-3 new-pad ">
                <img src="assets/images/testUser.png" class="reqMainimg">
                <p class="docName">Dr.John Samuel <span>(Hcp 01)</span></p>
              </div>
              <div class="col-md-6 new-pad "> 
                  <p class="reqSpec">Chronic Lymphocytic Leukemia</p>
                  <div class="specDoc col-md-10 padd0"> 
                      <div class="inlineDiv">
                        <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                        <input type="checkbox" name="fordCheckBox" id="check21" value="Ford">
                        <label for="check21"></label>
                      </div>
                      <div class="inlineDiv">
                        <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                        <input type="checkbox" name="fordCheckBox" id="check42" value="Ford">
                        <label for="check42"></label>
                      </div>
                      <div class="inlineDiv">
                          <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                          <input type="checkbox" name="fordCheckBox" id="check23" value="Ford">
                          <label for="check23"></label>
                        </div>
                       <div class="inlineDiv">
                            <p><img src="assets/images/testUser.png" class="specDocImg"></p>
                            <input type="checkbox" name="fordCheckBox" id="check24" value="Ford">
                            <label for="check24"></label>
                       </div>
                  </div>
                  <div class=" col-md-2">
                    <p class="docCount"> +4</p>
                  </div>
              </div>
              <div class="col-md-3 new-pad ">
                    <p class="meetId">Meeting ID:58</p>
                    <p class="specTime">
                       <span class="spechour" >01:00 </span>
                       <span class="spectim">PM EST</span>
                    </p>
                    <p class="specDate">15 September 17</p>
                    <button md-button class="reqBut">Canceled</button> 
              </div>
            </div> 
      </div>
    </div>
    <!--left content end -->
    <!---right content start-->
    <div class="rightContent">
        <div class="roles">
            <p class="roleSmall pull-left"> <b class="baseColor">Health Care Provider</b></p>

            <div class="pull-right controlBut">
              <p class="cancelIcon"><button md-button class="remBut">Cancel</button></p>
              <p class="pauseIcon"><a href="javascript:void(0);"><img src="assets/images/pause.png"/> </a></p>  
             <p class="delIcon"> <a href="javascript:void(0);"><img src="assets/images/delete.png"/> </a> </p>
            </div>
           
        </div>
        <div class="roles-view col-md-12">
          <md-tab-group>
              <md-tab label="Details">
                  <div class="col-md-12 detTable">
                  <table width="70%" class="col-md-8 ">                
                      <tr>
                        <td class="newText">Topic:</td>
                        <td><md-form-field class="example-full-width">
                            <input mdInput placeholder="" value="">
                          </md-form-field></td>
                      </tr>
                      <tr>
                          <td class="newText">ID:</td>
                          <td>
                              <md-form-field class="example-full-width">
                                  <input mdInput placeholder="" value="">
                                </md-form-field>
                          </td>
                        </tr>                
                      <tr>
                          <td class="newText">Description:</td>
                          <td>
                            <md-form-field class="example-full-width">
                              <input mdInput placeholder="" value="">
                            </md-form-field><br>
                            <md-form-field class="example-full-width">
                              <input mdInput placeholder="" value="">
                            </md-form-field><br>
                            <md-form-field class="example-full-width">
                              <input mdInput placeholder="" value="">
                            </md-form-field>
                          </td>
                        </tr>
                                                                               
                    </table>
                    <div class="col-md-4 displayTime">
                    <p class="specTime">
                        <span class="spechour" >01:00 </span>
                        <span class="spectim">PM EST</span>
                     </p>
                     <p class="specDate">15 September 17</p>
                     <hr>
                    </div>
                  </div>
                    <div class="col-md-12 ">
                        <div class="parTitle"><h4>Participants</h4></div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                            <div class="partDetails">
                                <div class="partProfile">
                                  <h4 class="partName">John Samuel-REP</h4>
                                  <div class="partAddress">
                                   <p>Los Angles -CA </p>
                                      <p>John@getweave.com  </p>
                                      <p>(801) 816-3810 </p>
                                  </div>
                                </div>
                            </div>
                            <div class="partImage">
                                <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                <p><button md-button class="rmButton">Remove</button></p>
                            </div>
                            <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                           
                        </div>
                        <div class="col-md-4 detPart">
                          <div class="detpartContent">
                            <div class="partDetails">
                                <div class="partProfile">
                                  <h4 class="partName">John Samuel-REP</h4>
                                  <div class="partAddress">
                                   <p>Los Angles -CA </p>
                                   <p>John@getweave.com  </p>
                                   <p>(801) 816-3810 </p>
                                  </div>
                                </div>
                            </div>
                         
                            <div class="partImage">
                                <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                <p><button md-button class="rmButton">Remove</button></p>
                            </div>
                            <div class="notifyImg"><img src="assets/images/cusCheck.png" class=""></div>
                          </div>
                         
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                            <div class="partDetails">
                                <div class="partProfile">
                                  <h4 class="partName">John Samuel-REP</h4>
                                  <div class="partAddress">
                                   <p>Los Angles -CA</p>
                                     <p>John@getweave.com </p>
                                     <p>(801) 816-3810 </p>
                                  </div>
                                </div>
                            </div>
                            <div class="partImage">
                                <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                <p><button md-button class="rmButton">Remove</button></p>
                            </div>
                            <div class="notifyImg"><img src="assets/images/quest.png" class=""></div>
                            </div>
                            
                        </div>
                      </div>
                   
              </md-tab>
              <md-tab label="Participants">
                <div class="col-md-12 tabContent">
                  <div class="col-md-4 detPart">
                      <p class="reqSpec">Chronic Lymphocytic Leukemia</p>
                      <div class="partTime">
                      <p class="specTime">
                          <span class="spechour" >01:00 </span>
                          <span class="spectim">PM EST</span>
                       </p>
                       <p class="specDate">15 September 17</p>
                      </div>
                    </div>
                    <div class="col-md-4 detPart">
                        <div class="detpartContent">
                          <div class="partDetails">
                              <div class="partProfile">
                                <h4 class="partName">John Samuel-REP</h4>
                                <div class="partAddress">
                                 <p>Los Angles -CA </p>
                                 <p>John@getweave.com  </p>
                                 <p>(801) 816-3810 </p>
                                </div>
                              </div>
                          </div>
                       
                          <div class="partImage">
                              <p><img src="assets/images/testUser.png" class="detimg1"></p>
                              <p><button md-button class="rmButton">Remove</button></p>
                          </div>
                          <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                        </div>
                       
                      </div>
                      <div class="col-md-4 detPart">
                          <div class="detpartContent">
                            <div class="partDetails">
                                <div class="partProfile">
                                  <h4 class="partName">John Samuel-REP</h4>
                                  <div class="partAddress">
                                   <p>Los Angles -CA </p>
                                   <p>John@getweave.com  </p>
                                   <p>(801) 816-3810 </p>
                                  </div>
                                </div>
                            </div>
                         
                            <div class="partImage">
                                <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                <p><button md-button class="rmButton">Remove</button></p>
                            </div>
                            <div class="notifyImg"><img src="assets/images/quest.png" class=""></div>
                          </div>
                         
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                              <div class="partDetails">
                                  <div class="partProfile">
                                    <h4 class="partName">John Samuel-REP</h4>
                                    <div class="partAddress">
                                     <p>Los Angles -CA </p>
                                     <p>John@getweave.com  </p>
                                     <p>(801) 816-3810 </p>
                                    </div>
                                  </div>
                              </div>
                           
                              <div class="partImage">
                                  <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                  <p><button md-button class="rmButton">Remove</button></p>
                              </div>
                              <div class="notifyImg"><img src="assets/images/cusCheck.png" class=""></div>
                            </div>
                           
                          </div>
                          <div class="col-md-4 detPart">
                              <div class="detpartContent">
                                <div class="partDetails">
                                    <div class="partProfile">
                                      <h4 class="partName">John Samuel-REP</h4>
                                      <div class="partAddress">
                                       <p>Los Angles -CA </p>
                                       <p>John@getweave.com  </p>
                                       <p>(801) 816-3810 </p>
                                      </div>
                                    </div>
                                </div>
                             
                                <div class="partImage">
                                    <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                    <p><button md-button class="rmButton">Remove</button></p>
                                </div>
                                <div class="notifyImg"><img src="assets/images/cusCheck.png" class=""></div>
                              </div>
                             
                            </div>
                            <div class="col-md-4 detPart">
                                <div class="detpartContent">
                                  <div class="partDetails">
                                      <div class="partProfile">
                                        <h4 class="partName">John Samuel-REP</h4>
                                        <div class="partAddress">
                                         <p>Los Angles -CA </p>
                                         <p>John@getweave.com  </p>
                                         <p>(801) 816-3810 </p>
                                        </div>
                                      </div>
                                  </div>
                               
                                  <div class="partImage">
                                      <p><img src="assets/images/testUser.png" class="detimg1"></p>
                                      <p><button md-button class="rmButton">Remove</button></p>
                                  </div>
                                  <div class="notifyImg"><img src="assets/images/cusCheck.png" class=""></div>
                                </div>
                               
                              </div>
                </div>
              </md-tab>
              <md-tab label="Content">
                  <div class="col-md-12 tabContent">
                    <div class="col-md-12 contentDetail">
                      <div class="col-md-8 ">
                         <p> <span class="conLabel">Topic:</span>  <span class="reqSpec">Chronic Lymphocytic Leukemia</span></p>
                         <p> <span class="conLabel">ID: </span> <span class="conCount">158</span></p>
                      </div>
                      <div class="col-md-4 displayTime">
                          <p class="specTime">
                              <span class="spechour" >01:00 </span>
                              <span class="spectim">PM EST</span>
                           </p>
                           <p class="specDate">15 September 17</p>
                           <hr>
                          </div>
                    </div>
                    <div class="col-md-12 docInfo">
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/doc.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Document Name 01</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/pdf.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Document Name 02</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/remove.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/doc.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Document Name 03</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/remove.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/pdf.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Document Name 04</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/doc.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Document Name 05</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/remove.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/pdf.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Document Name 06</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                        </div> </div>
                  </div>
              </md-tab>
              <md-tab label="Polls">
                  <div class="col-md-12 tabContent">
                    <div class="col-md-12 contentDetail">
                      <div class="col-md-8 ">
                         <p> <span class="conLabel">Topic:</span>  <span class="reqSpec">Chronic Lymphocytic Leukemia</span></p>
                         <p> <span class="conLabel">ID: </span> <span class="conCount">158</span></p>
                      </div>
                      <div class="col-md-4 displayTime">
                          <p class="specTime">
                              <span class="spechour" >01:00 </span>
                              <span class="spectim">PM EST</span>
                           </p>
                           <p class="specDate">15 September 17</p>
                           <hr>
                          </div>
                    </div>
                    <div class="col-md-12 docInfo">
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/doc.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Poll Name 001</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/pdf.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Poll Name 002</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/remove.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/doc.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Poll Name 003</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/remove.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/pdf.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Poll Name 003</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/doc.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Poll Name 004</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/remove.png" class=""></div>
                            </div>
                        </div>
                        <div class="col-md-4 detPart">
                            <div class="detpartContent">
                                <div class="docImg">
                                    <p><img src="assets/images/pdf.png" class="detimg"></p>
                                   
                                </div>
                              <div class="docDetail">
                                 <h4 class="docDetailName">Poll Name 005</h4>
                                 <div class="">
                                   <p class="docUsed">05 <span>Used </span></p>
                                   <p class="docPage">97 <span>Pages </span></p>
                                   <p class="docTime">24 <span>Time</span> </p>
                                 </div>
                              </div>
                              
                              <div class="notifyImg"><img src="assets/images/cusChecked.png" class=""></div>
                            </div>
                        </div> </div>
                  </div>
              </md-tab>
              <md-tab label="Q&A">
                  <div class="col-md-12 tabContent">
                    <div class="col-md-12 contentDetail">
                      <div class="col-md-8 ">
                         <p> <span class="conLabel">Topic:</span>  <span class="reqSpec">Chronic Lymphocytic Leukemia</span></p>
                         <p> <span class="conLabel">ID: </span> <span class="conCount">189</span></p>
                      </div>
                      <div class="col-md-4 displayTime">
                          <p class="specTime">
                              <span class="spechour" >01:00 </span>
                              <span class="spectim">PM EST</span>
                           </p>
                           <p class="specDate">15 September 17</p>
                           <hr>
                          </div>
                    </div>
                    <div class="col-md-12 questSec">
                      <div class="col-md-12 boderBot questContent">
                      <div class="col-md-8 padd0">
                        
                          <div class="questCount col-md-1">Q1</div>
                          <div class="questDetail col-md-11">Is the following statement true or false? When using a computerized system in a clinical trial, 
                            make sure to use defaults that enter data into a field when the field is left empty 
                            <p><input type="checkbox"  class="questCheck" id="true"><label for="true">True</label>
                              <input type="checkbox" class="questCheck" id="false" checked><label for="false">False</label>
                            </p>
                          </div>
                        
                      </div>
                      <div class="col-md-4 padd0 text-center">
                        <div class="col-md-4"> <img src="assets/images/testUser.png" class="questImg"></div>
                        <div class="col-md-4"> <img src="assets/images/flower.png" class="questImg"></div>
                        <div class="col-md-4"> <img src="assets/images/tick.png" class="questImg1">
                        <p> Answered</p></div>
                      </div>
                      </div>
                      <div class="col-md-12 questContent ">
                          <div class="col-md-8 padd0">
                             <div class="questCount col-md-1">Q2</div>
                              <div class="questDetail col-md-11">A subject in a clinical trial develops a stomach infection that was treated with antibiotics,
                                  and wants to withdraw from the study. What do you do?
                                <p><input type="checkbox"  class="questCheck" id="true1"><label for="true1">Report this as a SAE</label>
                                  <input type="checkbox" class="questCheck" id="false1" checked><label for="false1">Document and explain the withdrawal</label>
                                </p>
                              </div>
                           
                          </div>
                          <div class="col-md-4 padd0 text-center">
                            <div class="col-md-4"> <img src="assets/images/testUser.png" class="questImg"></div>
                            <div class="col-md-4"> <img src="assets/images/flower.png" class="questImg"></div>
                            <div class="col-md-4"> <img src="assets/images/close.png" class="questImg1">
                            <p> Rejected</p></div>
                          </div>
                          </div>
                    </div>
                  </div>
              </md-tab>
              <md-tab label="Video">
                  <div class="col-md-12 tabContent">
                    <div class="col-md-12 contentDetail">
                       </div>
                  </div>
              </md-tab>
          </md-tab-group>
    

  </div>
</div>
<style>

</style>
