<header>
<div class="col-lg-2 border ">
  <a [routerLink] = "['dashboard']"> <img src="assets/images/logo.jpg"  class="img-responsive logo"></a>
</div>
<div class="col-lg-10 remove-padding cusWidth">
  <div class="col-lg-12 border-left welText">
    <p class="pull-left title">Welcome Admin</p>
    <p class="pull-right power"><a [routerLink]="['/login']"><img src="assets/images/logout.png"></a></p>
  </div>
  <div class="col-lg-12 border-left remove-padding">
    <!-- <ul class="radius-menu">
      <a  md-button [routerLink] = "['manage-roles']"><li> Roles <i class="fa fa-users" aria-hidden="true"></i></li></a>
      <a  md-button ><li>HCI <i class="fa fa-user-md" aria-hidden="true"></i></li></a>
      <a  md-button ><li>HCP <img src="assets/images/scientist.png"></li></a>
      <a  md-button ><li>Requests <img src="assets/images/request.png"></li></a>
      <a  md-button ><li>Topics <img src="assets/images/topic.png"></li></a>
      <a  md-button ><li>Events <img src="assets/images/event.png"></li></a>
      <a  md-button ><li>Live Sessions <img src="assets/images/live.png"></li></a>
      <a  md-button ><li>Contracts <img src="assets/images/contract.png"></li></a>
      <a  md-button ><li>Samples <img src="assets/images/sample.png"></li></a>
      <a  md-button ><li>Payments <img src="assets/images/pay.png"></li></a>
      <a  md-button ><li>Polls <img src="assets/images/poll.png"></li></a>
    </ul> -->
        <ul class="radius-menu">
        <!-- <li [routerLinkActive]="['activeMenu']" class="menuLi"> 
          <a [routerLink] = "['manage-roles']">Roles <i class="fa fa-users" aria-hidden="true"></i></a>				              
        </li> -->
        <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['dashboard']">Dashboard <i class="fa fa-tachometer" aria-hidden="true"></i>
          
        </a></li>
        <li class="dropdown menuLi" >
          <a href="#" data-toggle="dropdown">Users <i class="fa fa-users" aria-hidden="true"></i></a>    
          <ul class="dropdown-menu newDropmenu" role="menu">
              <li><a [routerLink] = "['hci']">Speakers</a></li>
              <li><a [routerLink] = "['hcp']">Innovators</a></li>
              <li><a [routerLink] = "['rep']">Representatives</a></li>             
          </ul>  
        </li>
<!--         <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['hci']">HCI <i class="fa fa-user-md" aria-hidden="true"></i></a></li>
        <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['hcp']"> HCP <img src="assets/images/scientist.png"></a></li> -->
        <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['manage-request']">Requests <img src="assets/images/request.png"></a></li>
        <li class="menuLi" [routerLinkActive]="['activeMenu']"><a (click)="removeLocal()" [routerLink] = "['manage-topics']">Topics <img src="assets/images/topic.png"></a></li>
        <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['manage-events']">Events <img src="assets/images/event.png"></a></li>
        <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['live-session']">Live Sessions <img src="assets/images/live.png"></a></li>
        <!--- <li class="menuLi" matTooltip="Disabled"><a>Live Sessions <img src="assets/images/live.png"></a></li>-->
        <!-- <li class="menuLi" [routerLinkActive]="['activeMenu']"><a [routerLink] = "['manage-contracts']">Contracts <img src="assets/images/contract.png"></a></li> -->
        <li class="menuLi" matTooltip="Disabled">Contracts <img src="assets/images/contract.png"></li>
        <li class="menuLi" matTooltip="Disabled">Samples <img src="assets/images/sample.png"></li>
        <li class="menuLi"[routerLinkActive]="['activeMenu']"><a [routerLink] = "['manage-payments']">Payments <img src="assets/images/pay.png"></a></li>
        <!-- <li   class="menuLi" matTooltip="Disabled"><a >Polls <img src="assets/images/poll.png"></a></li> -->
        <li class="menuLi"[routerLinkActive]="['activeMenu']"><a [routerLink] = "['manage-polls']">Polls <img src="assets/images/poll.png"></a></li>
        <li class="dropdown menuLi" [routerLinkActive]="['activeMenu']">
          <a href="#" data-toggle="dropdown">Settings <i class="fa fa-cog" aria-hidden="true"></i></a>		
          <ul class="dropdown-menu newDropmenu" role="menu">
<!--               <li><a [routerLink] = "['rep']">Manage REP</a></li> -->
              <li><a (click)="removeLocalBrand()" [routerLink] = "['manage-brands']">Manage Products</a></li>
              <li matTooltip="Disabled"><a >Manage Eligibility</a></li>
              <!--<li matTooltip="Disabled"><a [routerLink] = "['manage-eligibility']">Manage Eligibility</a></li>-->
              <li><a (click)="removeLocalContent()" [routerLink] = "['manage-content']">Manage Content</a></li>
              <!-- <li><a [routerLink] = "['manage-category']">Manage Category</a></li> -->
          </ul>  
        </li>
        </ul>
  </div>
</div>
</header>
