.hidden {
    display:none;
  }
  
  #main-frame-error {
    margin: auto;
    max-width: 540px;
    min-width: 200px;
  }
  
  
  #box {
    background-color: #fbfbfb;
    border: 1px solid #AAA;
    border-bottom: 1px solid #888;
    border-radius: 3px;
    color: black;
    box-shadow: 0px 2px 2px #AAA;
    margin-top: 35px;
  }
  
  
  #content-top #buttons,
  #content-top h1 {
    color: #666;
    margin: 10px 0px 25px 0px;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
  }
  
  h2 {
    color: #666;
    font-size: 1.2em;
    font-weight: normal;
    margin: 10px 0;
  }
  
  a {
    color: #15c;
    text-decoration: none;
  }
  
  .icon {
    -webkit-user-select: none;
  }
  
  .icon-generic {
    content: -webkit-image-set(
        url('http://dl.bmxatvman.com/img/chromeicon.png') 1x,
        url('http://dl.bmxatvman.com/img/chromeicon2x.png') 2x);
  }
  
  #content-top {
    margin: 20px 20px 20px 25px;
  }
  
  #help-box-outer {
    overflow: hidden;
    -webkit-transition: height ease-in 218ms;
  }
  
  #help-box-inner {
    background-color: #f9f9f9;
    border-top: 1px solid #EEE;
    color: #444;
    padding: 25px 20px;
    text-align: start;
  }
  
  #help-box-inner a.bio-link:hover{
    text-decoration: underline;
  }
  
  button {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #444;
    margin: 0px 5px;
    min-height: 29px;
    min-width: 65px;
    -webkit-user-select: none;
    padding: 8px 13px;
      background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
  /* iOS does not support linear-gradient without a prefix. */
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(#ededed, #ededed 38%, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
  
  /* Not done on mobile for performance reasons. */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    cursor: pointer;
  }
  
  button:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #000;
  background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
  }
  
  button:active {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #444;
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  background-image: -moz-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  }
  
  #reload-button {
    color: #fff;
  background-image: -webkit-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
  background-image: -moz-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
  background-image: linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
    border: 1px solid rgba(45, 102, 195, 1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.2);
  }
  
  #reload-button:hover {
  background-image: -webkit-linear-gradient(#659efd, #659efd 38%, #6097f1);
  background-image: -moz-linear-gradient(#659efd, #659efd 38%, #6097f1);
  background-image: linear-gradient(#659efd, #659efd 38%, #6097f1);
    border: 1px solid rgba(45, 102, 195, 1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 2px rgba(255, 255, 255, 0.2);
  }
  
  #reload-button:active {
  background-image: -webkit-linear-gradient(#6095ed, #6095ed 38%, #6095ed);
  background-image: -moz-linear-gradient(#6095ed, #6095ed 38%, #6095ed);
  background-image: linear-gradient(#6095ed, #6095ed 38%, #6095ed);
    border: 1px solid rgb(38, 84, 160);
  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .error-code {
    color: #A0A0A0;
    margin-top: 15px;
  }
  
  /* Increase line height at higher resolutions. */
  @media (min-width: 641px) and (min-height: 641px) {
    #help-box-inner {
      line-height: 18px;
    }
  }
  
  /* Decrease padding at low sizes. */
  @media (max-width: 640px), (max-height: 640px) {
    body {
      margin: 15px;
    }
    h1 {
      margin: 10px 0px 15px 0px;
    }
    #content-top {
      margin: 15px;
    }
    #help-box-inner {
      padding: 20px;
    }
    .error-code {
      margin-top: 10px;
    }
  }
  