/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 100px  auto;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  background: #fff;
}
.CustomFor{
  padding: 10px 0 10px 0;
}
.logoMap{
  width: 40%;
  margin: 0 auto;
}
.btnLogin{
  margin: 0 auto;
}
.has-error .form-control{
  border-color: #a94442;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mat-LoginBTN {
  color: #fff!important;
  background: #2BBBAD !important;
}
.mat-forgot {
  color: #fff!important;
  background: #b75a1d !important;
}
/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
.center{
  text-align: center;
  color: #f97c2a;
}
.login-header {
  background: #f97c2a;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #fff;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}
.md-form .prefix {
  position: absolute;
  width: 3rem;
  font-size: 24px;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  -ms-transition: color .2s;
  transition: color .2s;
}
.help-block{
  text-align: center;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #f9a23b;
  color: #fff;
}