/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background: #ececee;
    font-family:roboRegular;
    
}
@font-face {
    font-family: roboBlack;
    src: url(../fonts/Roboto-Black.ttf);
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: roboBold;
    src: url(../fonts/Roboto-Bold.ttf);
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: roboLight;
    src: url(../fonts/Roboto-Light.ttf);
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: roboMedium;
    src: url(../fonts/Roboto-Medium.ttf);
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: roboRegular;
    src: url(../fonts/Roboto-Regular.ttf);
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

$primary-color:#f97c2a;
$secondary-color:#c188ff;
$cancelBut-color:#ff0000;
$white-Color:#fff;
$black-Color:#000;
$cus-bordercolor:#a9a7a7;
$primary-darker: darken($primary-color, 13%);
$secondary-darker: darken($secondary-color, 14%);
$primary-light :lighten( $primary-color, 10% );
$secondary-light:lighten($secondary-color, 10% );
$cancelBut-darker:darken($cancelBut-color, 13%);