<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form autocomplete="off"   (ngSubmit)="onSubmit()" [formGroup]="form">
                      <ul>
                        <!-- <li *ngIf="form.controls['contactemail'].hasError('required') && form.controls['contactemail'].touched" class="alert">
                            Email is required.</li> 
                        <li *ngIf="form.controls['contactemail'].hasError('email') && form.controls['contactemail'].dirty" class="alert">
                            Email is Invalid.</li>  -->
                        <li *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert">
                            Password is required.</li> 
                        <li *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="alert">
                            Confirm Password is required.</li>  
                        <li class="alert" *ngIf="form.controls.confirmPassword.errors?.MatchPassword ">Password not match</li> 
                        <li *ngIf = "form.controls['password'].hasError('minlength')" class = "alert">
                            Password should contain 6 characters
                        </li> 
                        <li *ngIf = "form.controls['password'].hasError('maxlength')" class = "alert">
                            Password should contain 15 characters
                        </li> 
                        <li *ngIf = "form.controls['confirmPassword'].hasError('minlength')" class = "alert">
                            Confirm Password should contain 6 characters
                        </li> 
                        <li *ngIf = "form.controls['confirmPassword'].hasError('maxlength')" class = "alert">
                            Confirm Password should contain 15 characters
                        </li> 
                      </ul>
                      <!-- <div class="form-group">
                        <label>Client Email</label>
                        <input type="email" name="contactemail"                        
                        formControlName="contactemail"
                        [formGroup]="form"                        
                        ng-pattern="/^.+@.+\..+$/" />
 
                      </div>
                       
                          <div *ngIf="form.controls['contactemail'].hasError('pattern') && form.controls['contactemail'].invalid" class="alert">
                          Email is Invalid.</div>   -->
                      <div class="form-group">
                        <label>Password</label>
                        <input required type="password" name="clientEmail"
                        formControlName="password"
                        [formGroup]="form"
                        minlength="6" maxlength="15" />     
                       
                      </div>
                      <div class="form-group">
                        <label>Re-Enter Password</label>
                        <input required type="password" name="clientEmail"
                        formControlName="confirmPassword"
                        [formGroup]="form"
                        minlength="6" maxlength="15" /> 
                      </div>
                      <div class="form-group">
                        <input  [disabled]="!form.valid" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
               
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
<ngx-loading [show]="loading"></ngx-loading> 
