<div class="col-lg-12 elligible-menu">
    <div class="leftContent">
        <div class="roles col-md-12">
          <p class="pull-left">Eligibility</p>
          <a href="javascript:void(0);" (click)=enableSection()><img src="assets/images/add_brands.png" class="img-responsive imgUser pull-right"></a>
        </div>
 
        
        <div class="dataListnew col-md-12" [hidden]=is_list>
            <div  class="col-md-12  searchPart">
            
                <div class="input-group sInputDiv">
            <input #input class="form-control sInput" type="text" [(ngModel)]="queryString" name="searchroleName"  id="searchroleName" placeholder="Search Eligibility..."/>
            <div class="input-group-addon sIcon">
              <span class="fa fa-search form-control-feedback"></span>
            </div>
          </div>
          <div *ngIf="(topicListView | filter: queryString).length === 0">
              <ul class="role-list">
                 <li> No matches found</li>
              </ul>
            </div>
          <ul class="role-list" *ngFor="let item of topicListView | filter: queryString">
            <li class="home-tit" [ngClass]="{active: item.id==topicListViewInit.id}" (click)="topicView(item.id)">
                <p><span class="roleSmall">
              {{item.eligibility_title}}</span>
              <small class="pull-right positionList">Created on <br> {{item.createdAt | date:'dd MMM yyyy'}}</small>
            </p></li>
          </ul>
      
        </div>
        </div>

        <div class="dataListnew col-md-12" [hidden]=is_add>
            
                <div class="col-lg-12">
                    <form (ngSubmit)="addTopic.form.valid && addTopics(addTopic)" #addTopic="ngForm">
                        <table width="100%" class="contTabl">
                            <tr><td width=" 25%"><label>Eligibility Name:</label></td>
                              <td>
                          <div class="md-form input-effect">   
                                  <input class="effect-17" type="text" autocomplete="off" required id="orangeForm-name"  [(ngModel)]=topics.eligibility_title #eligibility_title=ngModel name="eligibility_title"> 
                                  <span class="focus-border"></span>
                                </div>
                                             
                                                     
                                <div *ngIf="eligibility_title.touched && eligibility_title.invalid" class="errNam">Eligibility name is required</div>
                      
                        </td>
                        </tr>
                        </table>
                        <div class="col-md-12 m20 padd0">
                            <div class="pull-right ">
                                <input type="button"  class="baseButton" (click)="disableSection();addTopic.reset()" value="Cancel">
                                <button  [disabled]="!addTopic.form.valid"  class="baseButton" type="submit">Save</button>
                              </div>
                            </div>
                    </form>
                </div>
            
        </div>
    </div>
 
    <div class="rightContent" *ngIf="(topicListView | filter: queryString).length != 0">
            <div class="roles col-md-12">
                    <p class="pull-left">
                      
                        <b class="baseColor">{{topicListViewInit.eligibility_title}}</b>   
                      <b *ngIf="topicListViewInit.active_status==0"  class="baseColor">- Suspend</b>           
                    </p>

                    <div class="pull-right controlBut">
                         
                      <p class="delIcon"> <a title="Delete Role" (click) = deleteTopic(topicListViewInit.id) >
                        <img src="assets/images/delete.png"/> </a> </p>
                    </div>
                  </div>
        <div class="roles-view col-md-12">
        <md-tab-group md-align-tabs="bottom" id="ink-top-fix">
            <md-tab label="Details">
                <div *ngIf="(topicListViewInit).length === 0">
                        No Records Found
                </div>
                <div class="col-lg-12" *ngIf="(topicListViewInit).length != 0">
                    <div class="col-lg-12">
                            <form  name="editRole" (ngSubmit)="NormalForm.form.valid && editTopic(NormalForm)" #NormalForm="ngForm" novalidate>
                                    <ul class="err">
                                        <li>{{errors}}</li>
                                      </ul>
                                    <table width="80%">                
                                      <tr>
                                        <td class="newText">Eligibility Name:</td>
                                        <td>
                                            <input type="text" [disabled]=is_editDis autocomplete="off" required id="orangeForm-name" placeholder="Eligibility Name" [(ngModel)]=topicListViewInit.eligibility_title #eligibility_title=ngModel name="eligibility_title">
                                            <span *ngIf="eligibility_title.touched && eligibility_title.invalid" class="alert">Eligibility name is required</span>
                                        </td>
                                      </tr>
                                                                                                                                      
                                    </table>
                                  
                                    <div class="col-lg-12 editSec ">
                                        <div class="pull-right col-md-2">
                                          <button  class="baseButton "  [disabled]="!NormalForm.form.valid || !NormalForm.form.dirty" color="mycolor" type="submit" md-button>Update</button>
                                    </div>
                                  </div>
                                </form> 
                    </div>
                </div>
            </md-tab>
          </md-tab-group>
          </div>
    </div>
  </div>
  
  <ngx-loading [show]="loading"></ngx-loading>
