<div class="manageHci col-md-12">
    <div class="col-md-12 roles">
        <div class="container">
        <p class="roleSmall pull-left"> <b class="baseColor">Catrgory List</b></p>

        <div class="pull-right controlBut">
          <p class="pauseIcon"><a  data-backdrop="static" data-toggle="modal" data-target="#myModalNorm" ><img src="assets/images/addbut.png"/> </a></p>  
        
        </div>
      </div>
    </div>
    <div class="col-md-12 roles-view">
        <div class="container padd0">
            <div class="col-md-12 hciSearch">
            <div class="col-md-12 ">
                <div class="input-group sInputDiv">
                    <input class="form-control sInput" type="text" [(ngModel)]="queryString" name="searchroleName" id="searchroleName" placeholder="Search .."/>
                    <div class="input-group-addon sIcon">
                      <span class="fa fa-search form-control-feedback"></span>
                    </div>
                  </div>
              </div>
 
          </div>
    
    <div class="col-md-12">
        <table class="table hciTable table-hover categoryTable">
            <thead>
              <tr>
                <!-- <th> <input type="checkbox" name="all" 
                    [checked]="isAllChecked()" (change)="checkAll($event)"/></th> -->
                <th>Category Name</th>               
                <th>Category Image</th>                               
                <th>Actions<th>
              </tr>
            </thead>
            <tbody>
               <tr class="customPage" *ngIf="(user | filter: queryString).length === 0">
                  <td colspan="8">No Records Found</td>
               </tr><!-- (click)="contents(items.id)" -->
              
              <tr *ngFor="let items of user | filter: queryString | orderby:sort | paginate: { itemsPerPage: 10, currentPage: page }">
                <!-- <td><input type="checkbox" 
                    value="{{items.id}}" (change)="getChecked(items.id)" [(ngModel)]="items.id"/></td> -->
                  <td>{{items.category_name}}</td>
                  <td class="cateLogoimg"><img src="{{APIURL}}{{items.image_path}}{{items.image_name}}"></td>
                  <td>
                      <div class="controlBut">
                      <p class="pauseIcon">
                        <a matTooltip="Edit Category" href="javascript:void(0);" (click)="getOneRecord(items.id)" data-backdrop="static" data-toggle="modal" data-target="#editmyModalNorm">
                          <img src="assets/images/cont-edit.png"/> 
                        </a>
                      </p> 
                      <p class="pauseIcon" *ngIf="items.active_status==1">
                        <a matTooltip="Suspend Category"  (click)="active(items.id,0)">
                          <img src="assets/images/pause.png"/> 
                        </a>
                      </p>  
                      <p class="pauseIcon" *ngIf="items.active_status==0">
                        <a matTooltip="Active Category" (click)="active(items.id,1)">
                          <img src="assets/images/pause.png"/> 
                        </a>
                      </p>  
                      <p class="delIcon">
                          <a                                                     
                          mwlConfirmationPopover
                          [title]="title"
                          [message]="message"
                          placement="left"
                          [confirmText]="confirmText"
                          [cancelText]="cancelText"
                          confirmButtonType="danger"
                          cancelButtonType="default"
                          (confirm)="confirmClicked = true;deletes(items.id);"
                          (cancel)="cancelClicked = true">                          
                          <img src="assets/images/delete.png"/>
                      </a>                         
                          </p>
                      </div>
                  </td>
              </tr>
            </tbody>
          </table>
          <div class="col-lg-12 customPage">
              <pagination-controls class="pull-right" (pageChange)="page = $event"></pagination-controls>
          </div>
    </div> </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>

 

<div class="modal fade myModalNorm" id="myModalNorm" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" [hidden]="loading">
   <div class="modal-content">
       <!-- Modal Header -->
      <div class="popupAddicon"><i class="fa fa-plus" aria-hidden="true"></i>
      </div>
       <div class="modal-header">
<!--             <button type="button" class="close" 
              data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
           </button>
            -->
       </div>
       
       <!-- Modal Body -->
       <div class="modal-body">
           
           <form role="form" autocomplete="off" name="formData" 
           (ngSubmit)="f.form.valid && create(f.value)" #f="ngForm">
              <table width="95%" class="hciPopup">                
                
                  <tr>
                      <td class="newText">Category Name:</td>
                      <td><mat-form-field class="example-full-width">
                          <input matInput  
                            name="category_name"
                            [(ngModel)]="addCategory.category_name"
                            #category_name=ngModel   
                            minlength="4" 
                            maxlength="10" 
                            required>
                          <mat-error *ngIf="category_name.hasError('minlength')">
                              Category Name should be minimum 4 characters
                          </mat-error>
                          <mat-error *ngIf="category_name.hasError('maxlength')">
                              Category Name should be maximum 10 characters
                          </mat-error>
                          <mat-error *ngIf="category_name.hasError('required')">
                              Category Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td class="newText">Category Image:</td>
                      <td>
                        <image-upload class="sizeImage" [buttonCaption]="'Category Image'" [max]="1"
                        (onRemove)="imageRemoved($event)"
                        (onFileUploadFinish)="fileChanged($event.file)"> </image-upload>
                      </td>                      
                      
                  </tr>
                  <tr>
                    <td></td>
                    <td><small *ngIf="error" class="alert">
                        {{error}}
                     </small></td>
                  </tr>
                  
                 </table>
              <div class="SavebutDiv">
                <button md-button class="popupSavebut" type="submit">Save</button>
                <button md-button class="popupSavebut" (click)="reset();" >Cancel</button>
              </div>
           </form>
        </div>
</div>
</div>
</div>

<div class="modal fade myModalNorm" id="editmyModalNorm" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" [hidden]="loading">
   <div class="modal-content">
       <!-- Modal Header -->
      <div class="popupAddicon"><i class="fa fa-plus" aria-hidden="true"></i>
      </div>
       <div class="modal-header">
<!--             <button type="button" class="close" 
              data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
           </button>
            -->
       </div>
       
       <!-- Modal Body -->
       <div class="modal-body">
           
           <form role="form" autocomplete="off" name="formData" 
           (ngSubmit)="e.form.valid && update(e.value)" #e="ngForm">
              <table width="95%" class="hciPopup">                
                
                  <tr>
                      <td class="newText">Category Name:</td>
                      <td><mat-form-field class="example-full-width">
                          <input matInput  
                            name="category_name"
                            [(ngModel)]="editCat.category_name"
                            #category_name=ngModel   
                            minlength="4" 
                            maxlength="10" 
                            required>
                          <mat-error *ngIf="category_name.hasError('minlength')">
                              Category Name should be minimum 4 characters
                          </mat-error>
                          <mat-error *ngIf="category_name.hasError('maxlength')">
                              Category Name should be maximum 10 characters
                          </mat-error>
                          <mat-error *ngIf="category_name.hasError('required')">
                              Category Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td class="newText">Category Image:</td>
                      <td>
                        <image-upload class="sizeImage" [buttonCaption]="'Category Image'" [max]="1"
                        (onRemove)="imageRemoved1($event)"
                        (onFileUploadFinish)="fileChanged1($event.file)"> </image-upload>
                      </td>                      
                      
                  </tr>
                  <tr>
                    <td></td>
                    <td><small *ngIf="error" class="alert">
                        {{error}}
                     </small></td>
                  </tr>
                  
                 </table>
              <div class="SavebutDiv">
                <button md-button class="popupSavebut" type="submit">Save</button>
                <button md-button class="popupSavebut" (click)="reset();" >Cancel</button>
              </div>
           </form>
        </div>
</div>
</div>
</div>